<div class="row">
  <table class="table offset-sm-3 ">
    <thead>
    <tr class="row">
      <th scope="col" class="col-1">Codigo</th>
      <th scope="col" class="col-2">nome</th>
      <th scope="col"class="col-1">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" *ngFor="let fabricante of listaDeFabricantes" #linha>
      <td class="col-2">{{fabricante.nome}}</td>
      <td class="col-1"><span class="glyphicon glyphicon-remove iconeVermelho" (click)="excluirFabricante(linha,fabricante.codigo)"></span></td>
      <td class="col-1"><span class="glyphicon glyphicon-pencil"(click)="editarFabricate(fabricante,linha)"></span></td>

    </tr>

    </tbody>
  </table>
</div>
