<div>
  <!-- Imagem e texto -->
  <nav class="navbar navbar-light bg-light h3">
    Cadastro de veiculos
  </nav>
</div>
<div class="container-fluid">
  <form >
    <div class="form-group row">
      <label  class="col-sm-1 col-form-label">Nome do veiculo:</label>
      <div class="col-sm-3" >
        <input type="text" class="form-control " >
        <select class="form-control mt-2">
          <option *ngFor="let fabricante of listaDeFabricantes">{{fabricante.nome}}</option>
        </select>
      </div>
      <div>
        <button class="btn btn-dark" >Cadastrar</button>
      </div>
    </div>
  </form>
